h1 {
  text-align: center;
}
td {
  width: 100px;
  height: 100px;
}
table {
  margin: auto;
}

.right-left {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.top-bott {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
